[Desktop Entry]

Name=Extruder Calibration
Comment=Calculator for extruder calibration
Exec=python3 your/path/to/extruder_main.py
Icon=/your/path/to/extruder_icon.png
Type=Application
