[Desktop Entry]

Name=Extruder Calibration
Comment=Calculator for extruder calibration
Exec=python3 /path/to/extruder_main.py
Icon=/path/to/extruder_icon.png
Type=Application
